@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #021a20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  border-radius: 8px;
  min-width: 30%;
  padding: 0px 10px;
}
.todo_title {
  color: #ffffff;
  margin: 15px 0px;
  text-align: center;
}
.write .fa {
  padding: 4px;
  border-radius: 35px;
}
.write .fa:hover {
  color: rgb(104, 216, 104)
}
.write {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 3px;
}

.write:hover {
  background-color: #f7f7f1
} 
.input {
  font-weight: 400;
  outline: none;
  border: none;
  width: 88%;
  color: #000000;
  font-weight: 600;
}

.icons i:last-child {
  margin-left: 3px;
}

.icons i:first-child:hover {
  color: rgb(104, 216, 104)
}

.icons i:last-child:hover {
  color: red;
}

.icons i:first-child:hover {
  box-shadow: 4px 4px 3px solid #f9f9f9;

}

.fa {
  color: skyblue;
  transition: all 0.2s linear;
}

.list {
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
  list-style-type: none;
  width: 100%;
}

.list_item {
  width: 100%;
  color: #ffffff;
 flex-wrap: wrap;
  margin: 10px 0px;
  width: 100%;
  display: flex;
  padding: 0px 5px;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .todo{
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .todo{
    width: 90%;
  }
}